.dropdown-menu {
    position: relative;
}

#navBar {
    background-color: blanchedalmond;
    margin-bottom: 10px;
}

.statBackground {
    background-color: blanchedalmond;
}

#potsNSpells {
    margin-left: 10px;
    margin-top: 10px;
}

#weaponsInv {
    margin-right: 10px;
    margin-top: 10px;
}

#coinPurse {
    margin-left: 10px;
    margin-bottom: 10px;
}

#armorInv {
    margin-right: 10px;
    margin-bottom: 10px;
}
