#navBar {
    border: 1px solid black;
}

button {
    width: 20%;
}
/* 





#characterInfo {
    border: 1px solid black;
    padding: 10px;
}











.space {
    background-color: blanchedalmond;
}





p {
    font-size: 10px;
}



#featsBox {
    border: 1px solid black;
}

#equippedBox {
    border: 1px solid black;
    padding-bottom: 25px;
}

#quickAccessBox {
    border: 1px solid black;
}

dropdown {
    max-width: relative;
}

.statBackground {
    background-color: blanchedalmond;
}

#potsNSpells {
    margin-left: 10px;
    margin-top: 10px;
}

#weaponsInv {
    margin-right: 10px;
    margin-top: 10px;
}

#coinPurse {
    margin-left: 10px;
    margin-bottom: 10px;
}

#armorInv {
    margin-right: 10px;
    margin-bottom: 10px;
}

.textBox {
    max-width: 50px;
}

#meleeCombat {
    background-color: blanchedalmond;
    margin-bottom: 10px;
}

#rangedCombat {
    background-color: blanchedalmond;
    margin-top: 10px;
}

#castingRolls {
    background-color: blanchedalmond;
    margin-top: 10px;
} */
