.profileButton {
    width: 20%;
}

#logIn {
    padding-left: 20%;
    padding-right: 20%;
}

form {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    background-color: blanchedalmond;
}

.textInput {
    width: 45%;
}

.logIn {
    padding-left: 25%;
}
